@charset "utf-8";
/*..............embedded fonts..............*/

/*..............embedded fonts..............*/

/*..............custom fonts..............*/
@font-face {
    font-family: 'EuclidCircularA-Bold';
    src: url('../fonts/EuclidCircularA-Bold.eot');
    src: url('../fonts/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Bold.woff') format('woff'),
        url('../fonts/EuclidCircularA-Bold.ttf') format('truetype'),
        url('../fonts/EuclidCircularA-Bold.svg#SofiaProLight') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircularA-Light';
    src: url('../fonts/EuclidCircularA-Light.eot');
    src: url('../fonts/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Light.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Light.woff') format('woff'),
        url('../fonts/EuclidCircularA-Light.ttf') format('truetype'),
        url('../fonts/EuclidCircularA-Light.svg#SofiaProLight') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircularA-Medium';
    src: url('../fonts/EuclidCircularA-Medium.eot');
    src: url('../fonts/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Medium.woff') format('woff'),
        url('../fonts/EuclidCircularA-Medium.ttf') format('truetype'),
        url('../fonts/EuclidCircularA-Medium.svg#SofiaProLight') format('svg');
    font-style: normal;
}


@font-face {
    font-family: 'EuclidCircularA-Regular';
    src: url('../fonts/EuclidCircularA-Regular.eot');
    src: url('../fonts/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-Regular.woff') format('woff'),
        url('../fonts/EuclidCircularA-Regular.ttf') format('truetype'),
        url('../fonts/EuclidCircularA-Regular.svg#SofiaPro-Regular') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircularA-SemiBold';
    src: url('../fonts/EuclidCircularA-SemiBold.eot');
    src: url('../fonts/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../fonts/EuclidCircularA-SemiBold.woff') format('woff'),
        url('../fonts/EuclidCircularA-SemiBold.ttf') format('truetype'),
        url('../fonts/EuclidCircularA-SemiBold.svg#Gilroy-ExtraBold') format('svg');
    font-style: normal;
}
/*..............custom fonts..............*/



/*..............common styles..............*/
body { margin: 0; padding: 0; font-family: 'EuclidCircularA-Regular'; font-size:18px; font-weight: 400; color:#000; overflow-x: hidden; }
h1, h2, h3, h4, h5, h6 {font-family: 'EuclidCircularA-SemiBold'; font-weight: normal; margin:0 0 25px; padding:0; color: #000; }
h1{ font-size:65px;}
h2{ font-size:65px;}
h3{ font-size:40px;}
h4{ font-size:30px;}
h5{ font-size:20px;}
h6{ font-size:18px;}
p{ margin:0 0 25px; line-height: 1.3;}
img{ max-width: 100%;}
a, img{ border:0; text-decoration: none; outline: none;}
a, a:link, a:visited, a:focus, a:hover { color: #179ae2; outline: none; text-decoration: none; transition:all 0.3s ease 0s;}
a:hover{ text-decoration:none;}

input, textarea, select{ font-family: 'EuclidCircularA-Regular'; font-weight: 300; outline: none;}
input[type="submit"]{ font-family: 'EuclidCircularA-Regular'; font-weight: 300; transition:all 0.3s ease 0s; outline: none;}
select { appearance: none; -webkit-appearance: none; height: 50px !important; padding-right: 40px !important; background-image: url(../images/select-arw.png); background-repeat: no-repeat; background-position: 96% center;  }

/* --- for placeholder color --- */
/*
.form-control::-moz-placeholder{color:#505873;opacity:1;}
.form-control:-ms-input-placeholder{color:#505873;}
.form-control::-webkit-input-placeholder{color:#505873;}
*/
/* --- for placeholder color --- */

/* --- only use for wordpress (Image alignment) --- */
.alignleft , .alignnone{float:left; margin:0 15px 10px 0;}
.alignright{float:right; margin:0 0 10px 15px;}
.aligncenter{margin:10px auto; display:block;}
/* --- only use for wordpress (Image alignment) --- */

/* --- Button Styles --- */
.btn { border: 0; display: inline-block; vertical-align: top; background: #ff4d4d; color: #fff !important; padding: 16px 43px; font-size: 16px; line-height: 1; font-family: 'EuclidCircularA-Medium'; border-radius: 35px; }
.btn.blue-btn{background-color: #00a0d1;}
.btn.yellow-btn {background-color: #feaa00;}
.btn.ash-btn {background-color: #e7e7e7;color: #696969 !important;}
.btn.blue-text-btn span {margin-left: 10px; }
.btn.blue-text-btn {padding: 0; background: no-repeat; color: #00a0d1 !important; }
.btn.yellow-text-btn {padding: 0; background: no-repeat; color: #ffaa00 !important; }
.btn.prple-btn{background-color: #812cd5;}
.btn.red-text-btn {padding: 0; background: no-repeat; color: #f64a4a !important; }
.btn.inactive-btn {background-color: #e7e7e7; color: #696969 !important; }
/* --- Button Styles --- */

/*row with equal height column*/
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
/*row with equal height column*/

/* --- checkbox and radio button Styles --- */

.builder_radiobox ul li label{ font-weight: normal;}
.builder_radiobox ul li input[type="radio"]{ opacity: 0;}
.builder_radiobox ul li input[type="radio"]:empty ~ label{ position:relative; float:left; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; padding: 0 0 0 22px;}
.builder_radiobox ul li input[type="radio"]:empty ~ label:before{ position:absolute; display:block; top:2px; bottom:0; left:0; content:""; width:16px; height:16px; background:url(../images/radiobutton.png) left top no-repeat;}
.builder_radiobox ul li input[type="radio"]:checked ~ label:before{ background:url(../images/radiobutton.png) left bottom no-repeat;}

/* --- checkbox and radio button Styles --- */

.common-padd { padding-top: 80px; padding-bottom: 80px; }
.common-padd-small { padding-top: 30px; padding-bottom: 30px; }
.common-padd-lt-rt { padding-left: 85px; padding-right: 85px; } 

.form-control { height: 50px; padding: 12px 15px; }

/*..............common styles..............*/



/*for header css*/
.main-header { position: absolute; padding: 20px 35px; z-index: 999; left: 0; right: 0; top: 0; }
.header-row { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; }

.nav_btn { color: #fff; font-size: 22px; text-align: right; display: none; }
.nav_close { display: none; color: #000; }



/*-----another-common-----*/
.red-bg{background-color: #ff4d4d;}
.blue-bg{background-color: #00a0d1;}
.ash-bg{background-color: #f8f8f8;}
.prple-bg {background-color: #812cd5;}
.light-blue-bg{background-color: #ecf9ff;}
.light-yellow-bg{background-color: #fff7e7;}
.light-red-bg{background-color: #ffeaea;}
.dark-ash-bg{background-color: #ebebea;}
ul{margin: 0;padding: 0;}
.reletive-div{position: relative;}
.dark-blue-bg{background-color: #292f37;}

.yellow-bg{background-color: #ffce85;}
.dark-ash-bg{background-color: #e1e1e1;}
.chat-body-bg{background-color: #eceef1;}
.white-bg{background-color: #fff;}

.dashbord-content-common-pad{padding: 0 30px;}
.dashbord-inner-right-padd{padding-right: 200px;}



/*-----parent login-----*/
.parents-signup-page .full-hight{height: 100vh;}
header .login-btn a.btn {color: #000000 !important;font-size: 18px;background-color: #fff;}
.parents-signup-page .parent-signup-frm {padding-top: 180px; padding-left: 50px; padding-right: 200px; }
.parents-signup-page .parent-signup-frm label {padding-left: 15px; color: #000; }
.parents-signup-page .parent-signup-frm input.form-control {border-radius: 50px;border: 1px solid #c6c6c6;}
.parents-signup-page .parent-signup-frm .form-group {margin-bottom: 25px;position: relative;}
.parents-signup-page .parent-signup-frm .login-btn .btn {width: 100%;padding: 20px 20px;}
.parents-signup-page .parent-signup-frm .login-btn {margin-top: 25px;}
.parents-signup-page .parent-signup-frm .anothe-signup p {margin: 0; text-align: center; color: #000; padding: 25px; }
.parents-signup-page .parent-signup-frm .media-signup ul li a.google-signup {width: 100%; background: #c2624c; display: block; color: #fff; position: relative; text-align: center; padding: 15px 20px; border-radius: 50px; }
.parents-signup-page .parent-signup-frm .media-signup ul li a.micro-signup {width: 100%; background: #1d4c9a; display: block; color: #fff; position: relative; text-align: center; padding: 15px 20px; border-radius: 50px; }
.parents-signup-page .parent-signup-frm .media-signup ul li {list-style: none; margin-bottom: 15px; }
.parents-signup-page .parent-signup-frm .media-signup ul li span {position: absolute;left: 23px;}
.parents-signup-page .parent-signup-text {padding-top: 180px; padding-left: 50px; padding-right: 200px;position: relative;z-index: 9;}
.parents-signup-page .parent-signup-text h3,
.parents-signup-page .parent-signup-text p{color: #fff;}
.parents-signup-page a.btn {font-weight: 500; }
.parents-signup-page .overlap-img{position: absolute;bottom: 0;right: 0;}
.parents-signup-page .parent-signup-frm .eye-icon svg {color: #b6b5b5;}
.parents-signup-page .parent-signup-frm .eye-icon {position: absolute;bottom: 11px;right: 20px;}

/*------student student-signup-over view-----*/
.student-sigh-up-page .date-brth-value select {appearance: none; -webkit-appearance: none; height: 50px !important; padding-right: 40px !important; background-image: url(../images/downarrow.png); background-repeat: no-repeat; background-position: 96% center; width: 155px; border-radius: 50px; }
.student-sigh-up-page .date-brth-value {display: flex; justify-content: space-between; margin-top: 10px; }
.student-sigh-up-page .date-brth-value .form-group {margin-bottom: 0 !important; }

/*------parent calender------*/
.dashbord-left-menu-wraper {background-color: #ff4d4d;position: fixed; top: 0; width: 350px; height: 100%; }
.dashbord-content-common {padding-top: 90px;min-height: 100%;}
.dashbord-common .container-fluid {padding-left: 0; padding-right: 0; }
.dashbord-common .dashbord-common-wraper {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.dashbord-common .dashbord-left-menu {width: 350px;height: 100vh;background-color: #ff4d4d;}
.dashbord-common .dashbors-right-content {width: calc(100% - 350px);}
.dashbord-common .dashbord-right-top-head-wraper {display: flex; justify-content: space-between; padding: 15px 30px; align-items: center; }
.dashbord-common .dashbord-right-top-head {z-index: 99;background-color: #ff4d4d; border-radius: 0 0 45px 0;position: fixed;width: calc(100% - 350px); }
.dashbord-common .dashbord-right-top-head-wraper p {margin: 0; color: #fff; font-size: 22px; }
.dashbord-common .dashbord-right-user ul li {list-style: none; display: inline-block; padding-left: 30px; border-left: 1px solid #fff; margin-left: 30px; }
.dashbord-common .dashbord-right-user ul li:first-child {padding-left: 0px; border-left: none; margin-left: 0px; }
.dashbord-common .dashbord-right-user ul li a span {margin-right: 16px;}
.dashbord-common .dashbord-right-user ul li a {color: #fff;font-size: 22px;}
.dashbord-common .dashbord-right-user ul li a .name-user {width: 60px; height: 60px; background-color: #fffdf8; border-radius: 60px; display: flex; justify-content: center; align-items: center; color: #959492 !important;font-weight: 700;}
.dashbord-common .dashbord-left-menu .logo {border-bottom: 1px solid #edf0f5;height: 90px; background-color: #fff; border-radius: 0 40px 0 0; padding: 4px 40px; }
.dashbord-common .dashbord-left-menu .dashbord-menu-mail {overflow: scroll;background-color: #fff; display: flex; flex-direction: column; height: calc(100% - 90px); justify-content: space-between; }
.dashbord-common .dashbord-left-menu .dashbord-menu-mail::-webkit-scrollbar {display: none;}
.dashbord-common .dashbord-left-menu .dashbord-menu-mail {-ms-overflow-style: none;scrollbar-width: none;}
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li {padding: 18px 40px;}
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li.active,
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li:hover {background-image: url('../images/yellow-bg-img.png');width: 100%;height: 100%;background-size: contain;}
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li a span {margin-right: 10px; }
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li a {color: #000; font-size: 20px; font-weight: 700; }
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li.active a,
.dashbord-common .dashbord-left-menu .dashbord-menu-list ul li:hover a{color: #fff;}
.dashbord-common .dashbord-left-menu .dashbord-last-btn {text-align: center; padding: 40px; }
.dashbord-parent-calender .partner-calender-Scheduled h2 {font-size: 22px; margin-bottom: 30px; }
.dashbord-parent-calender .partner-calender-Scheduled-sngl {padding: 0 20px;border-radius: 10px;display: flex; align-items: center; justify-content: space-between;margin-bottom: 15px; }
.dashbord-parent-calender .partner-calender-Scheduled-icon-text {display: flex; align-items: center; }
.dashbord-parent-calender .partner-calender-text h3 {font-size: 18px; font-weight: 500; margin: 0; margin-bottom: 6px; }
.dashbord-parent-calender .partner-calender-text p {margin-bottom: 0; font-size: 16px; }
.dashbord-parent-calender .partner-calender-icon svg {color: #727f8d; font-size: 25px; }
.dashbord-parent-calender .partner-calender-icon {border-radius: 7px;width: 70px; height: 70px; background-color: #fff; display: flex; justify-content: center; align-items: center; margin-right: 12px; }
.dashbord-parent-calender .partner-calender-member-box ul li img {width: 100%; height: 100%; object-fit: cover; }
.dashbord-parent-calender .partner-calender-member-box ul li {width: 50px; height: 50px; overflow: hidden; border-radius: 50px; box-shadow: 0 8px 10px #b7b7b7b3;background-color: #fff; }
.dashbord-parent-calender .partner-calender-member-box ul li {list-style: none; display: inline-block; }
.dashbors-right-content-student .dashbord-parent-calender .partner-calender-member-box ul li {margin-left: -11px; }
.dashbors-right-content-student .dashbord-parent-calender .partner-calender-member-box ul li:first-child{margin-left: 0;}
.dashbord-parent-calender .partner-calender-member-box .partner-calender-number h4 {margin: 0; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; font-size: 20px; margin-top: 13px; }
.dashbord-parent-calender .partner-calender-subject p {margin: 0;font-size: 16px; }
.dashbord-parent-calender .partner-calender-subject h3 {margin-bottom: 5px; font-size: 18px; }
.dashbord-parent-calender .partner-calender-strand p {margin: 0;font-size: 16px; }
.dashbord-parent-calender .partner-calender-strand h3 {margin-bottom: 5px; font-size: 18px; }
.dashbord-parent-calender .partner-calender-member-box,
.dashbord-parent-calender .partner-calender-Scheduled-icon-text,
.dashbord-parent-calender .partner-calender-subject,
.dashbord-parent-calender .partner-calender-strand,
.dashbord-parent-calender .partner-cal-user-star {padding: 20px 10px;border-right: 1px solid #e0ecf2;}
.dashbord-parent-calender .partner-calender-btnd{padding: 0 10px;}
.dashbord-parent-calender .partner-calender-btnd .btn {width: 107px !important; padding: 16px 10px;font-size: 14px; }
.dashbord-parent-calender .partner-cal-user-star {display: flex; align-items: center; }
.dashbord-parent-calender .partner-cal-user-star .user-image img {width: 100%; height: 100%; object-fit: cover; }
.dashbord-parent-calender .partner-cal-user-star .user-image {box-shadow: 0 8px 10px #b7b7b7b3;width: 50px; height: 50px; background-color: #fff; overflow: hidden; border-radius: 50px; margin-right: 17px; }
.dashbord-parent-calender .partner-cal-user-star .user-image-text h3 {margin-bottom: 5px; font-size: 18px; }
.dashbord-parent-calender .partner-cal-user-star .user-image-text ul li {list-style: none; display: inline-block; font-weight: 700; }
.dashbord-parent-calender .partner-calender-text ul li {list-style: none; display: inline-block; font-size: 16px; border-right: 1px solid #000; padding-right: 5px; margin-right: 5px; }
.dashbord-parent-calender .partner-calender-text ul li:last-child {border-right: none; padding-right: 0px; margin-right: 0px; }
.dashbord-parent-calender .partner-calender-btnd ul li {list-style: none; display: inline-block; }
.dashbord-parent-calender .partner-calender-Scheduled {padding: 50px 0; border-bottom: 1px solid #cfcece; }
.dashbord-parent-calender .partner-calender-status ul li.pending-statis {background-color: #fff; padding: 10px; border-radius: 8px; margin-left: 14px; width: 125px; text-align: center; }
.dashbord-parent-calender .partner-calender-status ul li {list-style: none; display: inline-block; }
.dashbord-parent-calender .partner-calender-status ul li.cancel-status {background-color: #fff; padding: 10px; border-radius: 8px; margin-left: 14px; width: 125px; text-align: center;color: #f64a4a; }
.dashbord-parent-calender .parent-calender-history {padding: 50px 0;}
.dashbord-parent-calender .parent-calender-history h2 {font-size: 22px; margin-bottom: 30px; }
.dashbord-parent-calender .parent-calender-history .parent-calender-history-sngl {width: 250px; padding: 15px; margin-bottom: 30px; }
.dashbord-parent-calender .parent-calender-history .parent-calender-history-top {display: flex; align-items: center; }
.dashbord-parent-calender .parent-calender-history .parent-calender-his-img {box-shadow: 0 8px 10px #b7b7b7b3; width: 50px !important; height: 50px !important; border-radius: 50px; overflow: hidden; margin-right: 15px; }
.dashbord-parent-calender .parent-calender-history .parent-calender-his-name h4 {font-size: 16px;margin: 0;}
.dashbord-parent-calender .parent-calender-history .parent-calender-his-name p {margin: 0;font-size: 14px;}
.dashbord-parent-calender .parent-calender-history .parent-calender-his-img img{width: 100%;height: 100%;object-fit: cover;}
.dashbord-parent-calender .parent-calender-history .parent-calender-history-dtls {padding: 12px;margin-top: 15px;border-radius: 5px;}
.dashbord-parent-calender .parent-calender-history .parent-calender-history-dtls h5 {font-size: 15px; margin-bottom: 10px; }
.dashbord-parent-calender .parent-calender-history .parent-calender-history-dtls ul li {list-style: none; font-size: 14px; }
.dashbord-parent-calender .parent-calender-history .parent-calender-history-wraper {display: flex; flex-wrap: wrap; }

/*-----parent my children-------*/
.dashbord-parent-children .my-children-header {display: flex; justify-content: space-between; align-items: center;border-bottom: 1px solid #00000029;padding: 50px 0; }
.dashbord-parent-children .my-children-text h2 {margin: 0; font-size: 22px; }
.dashbord-parent-children .my-children-add {display: flex; align-items: center; }
.dashbord-parent-children .my-children-add .form-group {margin: 0;margin-right: 15px;}
.dashbord-parent-children .my-children-add .form-group select { width: 400px;border: none;background-size: 8%;background-image: url(../images/yellow-aroow.png); background-repeat: no-repeat; background-position: 96% center;  }
.dashbord-parent-children .my-children-details {display: flex; padding: 50px 0; border-bottom: 1px solid #00000029; }
.dashbord-parent-children .my-children-text-box {width: calc(100% - 200px);}
.dashbord-parent-children .my-children-img img {width: 100%; height: 100%; object-fit: cover; }
.dashbord-parent-children .my-children-img-edit-box {position: relative;}
.dashbord-parent-children .my-children-img-edit {position: absolute; bottom: 0px; width: 50px; height: 50px; background-color: #feaa00; color: #fff; font-size: 20px; border-radius: 50px; border: 2px solid #fff; display: flex; justify-content: center; align-items: center; right: 0; }
.dashbord-parent-children .my-children-img {width: 180px; height: 180px; overflow: hidden; border-radius: 180px; box-shadow: 0 10px 10px #00000026; background-color: #fff; }
.dashbord-parent-children .my-children-text-box ul.children-name-box li {list-style: none; display: inline-block; color: #7a7a7a; border-right: 1px solid #000; padding-right: 30px; margin-right: 30px; }
.dashbord-parent-children .my-children-text-box ul.children-name-box li:last-child {border-right: none; padding-right: 0px; margin-right: 0px; }
.dashbord-parent-children .my-children-text-box ul.children-name-box li span {color: #000;font-weight: 600;}
.dashbord-parent-children .my-children-text-box {background-color: #fff; padding: 20px 0; margin-left: 30px; border-radius: 5px; box-shadow: 0 10px 10px #0000002e; }
.dashbord-parent-children .children-bio {display: flex; padding: 20px 20px; border-top: 1px solid #0003; border-bottom: 1px solid #0003; margin: 20px 0;}
.dashbord-parent-children .my-children-text-box ul.children-name-box {padding: 0 20px;}
.dashbord-parent-children .children-bio .children-bio-body {width: calc(100% - 110px); }
.dashbord-parent-children .children-bio .children-bio-head {width: 100px; }
.dashbord-parent-children .children-bio .children-bio-head h3 {color: #7a7a7a; margin: 0; font-size: 22px; }
.dashbord-parent-children .children-bio-body p {color: #424242; font-size: 16px; margin: 0; }
.dashbord-parent-children ul.children-btns li {list-style: none; display: inline-block; margin-left: 11px; }
.dashbord-parent-children ul.children-btns li span {margin-left: 10px;}
.dashbord-parent-children ul.children-btns {text-align: right;padding: 0 20px;}
.dashbord-parent-children .my-children-view-area .form-group select { border: none;background-size: 30px;background-image: url(../images/yellow-aroow.png); background-repeat: no-repeat; background-position: 96% center;  }
.dashbord-parent-children .my-children-view-area input.form-control {border: none;}
.dashbord-parent-children .my-children-search-box label span {color: #ff4d4d;}
.dashbord-parent-children .my-children-view-area {padding: 50px 0;}
.dashbord-parent-children .my-children-view-area ul.nav.nav-tabs {border: none; }
.dashbord-parent-children .my-children-view-area li.nav-item {margin-bottom: 0 !important; }
.dashbord-parent-children .my-children-view-area a.nav-link.active {background-color: #ebebeb !important; border: none; border-radius: 30px; color: #000; font-weight: 700; color: #000 !important; }
.dashbord-parent-children .my-children-view-area li.nav-item a {border: none;background-color: #ffffff; border-radius: 30px !important; color: #000; font-weight: 800; padding: 12px 30px; }
.dashbord-parent-children .my-children-view-area ul.nav.nav-tabs li {margin-right: 16px;}
.dashbord-parent-children .my-children-view-area .tab-content {margin-top: 30px; }
.dashbord-parent-children .my-children-view-area .learning-skil-table h4 {margin: 0; background-color: #ffeded; font-size: 22px; padding: 20px; }
.dashbord-parent-children .my-children-view-area .learning-skil-table table.table th {border-top: none;font-size: 18px; color: #898989; font-weight: 300; }
.dashbord-parent-children .my-children-view-area .learning-skil-table table.table td {border: none !important; background-color: #ffeded; border: 3px solid #fff !important; padding: 15px !important; }
.dashbord-parent-children .my-children-view-area .learning-skil-table {padding: 35px 0; }
.dashbord-parent-children .my-children-view-area .achivment-table h4 {margin: 0; background-color: #f1ffff; font-size: 22px; padding: 20px; }
.dashbord-parent-children .my-children-view-area .achivment-table h5 {margin: 0; background-color: #e5f8f8; font-size: 22px; padding: 20px; color: #2e00db; font-family: 'EuclidCircularA-Light'; }
.dashbord-parent-children .my-children-view-area .achivment-table table.table th {border-top: none;font-size: 18px; color: #898989; font-weight: 300; }
.dashbord-parent-children .my-children-view-area .achivment-table table.table td {border: none !important; background-color: #f0ffff; border: 3px solid #fff !important; padding: 15px !important; }
.dashbord-parent-children .my-children-view-area .achivment-table table.table {margin: 0; }

/*----parent report card------*/
.parent-report-card-language h2 span {color: #ff4d4d; }
.parent-report-card-language h2 {font-size: 22px; }
.parent-report-card-language .parent-report-card-language-sngl .form-group select {background-color: #fff5e2; border: none; background-image: url(../images/yellow-aroow.png); background-size: 23px; border-radius: 30px; background-repeat: no-repeat; }
.parent-report-card-language .parent-report-card-language-sngl .form-group {margin: 0; width: 155px; }
.parent-report-card-language .parent-report-card-language-sngl {display: flex; justify-content: space-between; align-items: center; background-color: #fff; padding: 15px; margin-bottom: 30px; }
.parent-report-card-language .parent-report-card-language-sngl h3 {margin: 0; font-size: 20px; font-family: 'EuclidCircularA-Light'; }
.parent-report-card-language .lnguage-btn ul li {list-style: none; display: inline-block; width: 300px; margin-right: 25px; }
.parent-report-card-language .lnguage-btn ul li:last-child{margin-right: 0;}
.parent-report-card-language .lnguage-btn ul li a{width: 100%;}
.parent-report-card-language .lnguage-btn {padding-top: 30px; padding-bottom: 50px; }
.parent-report-card-language .parent-report-card-language-heading h2 {background-color: #ffeded; padding: 20px; margin-bottom: 30px; }
.parent-report-card-language .parent-report-card-language-wraper h5{font-size: 20px;font-family: 'EuclidCircularA-Medium';}

/*-----parent single children-------*/
.parent-children-badge .parent-children-badge-box:hover{border-left: 2px solid #1eff00;}
.parent-children-badge .parent-children-badge-box {border-left: 2px solid #f8f8f8;display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;background-color: #fff;}
.parent-children-badge .parent-children-badge-box .descrip-badge {-webkit-box-flex: 0; -ms-flex: 0 0 70%; flex: 0 0 70%; max-width: 70%; }
.parent-children-badge .parent-children-badge-box .icon-badge,
.parent-children-badge .parent-children-badge-box .name-badge,
.parent-children-badge .parent-children-badge-box .date-badge {-webkit-box-flex: 0; -ms-flex: 0 0 10%; flex: 0 0 10%; max-width: 10%; }
.parent-children-badge .parent-children-badge-box .icon-badge {border-right: 1px solid #0000004f; padding: 15px; height: 100%; }
.parent-children-badge .parent-children-badge-box .name-badge {border-right: 1px solid #0000004f; }
.parent-children-badge .parent-children-badge-box .name-badge h4 {margin: 0; font-size: 18px; padding: 10px; }
.parent-children-badge .parent-children-badge-box .name-badge h4 span {color: #7a7a7a; display: block; }
.parent-children-badge .parent-children-badge-box .descrip-badge p span {display: block; color: #7a7a7a; }
.parent-children-badge .parent-children-badge-box .descrip-badge {border-right: 1px solid #0000004f; padding: 10px; }
.parent-children-badge .parent-children-badge-box .date-badge {padding: 10px; }
.parent-children-badge .parent-children-badge-box .date-badge h6 {font-size: 14px; margin: 0; }
.parent-children-badge .parent-children-badge-box .date-badge h6 span {display: block; color: #7a7a7a; }
.parent-children-badge .parent-children-badge-box .date-badge {padding: 10px; }
.parent-children-badge h3 {font-size: 22px; }
.parent-children-badge {margin-top: 20px; }
.parent-children-badge .parent-children-badge-wraper {margin-bottom: 15px; }
.parent-children-badge .parent-children-badge-wraper.in-active .parent-children-badge-box {background-color: #f2f2f2;}
.parent-children-badge .parent-children-badge-wraper.in-active .icon-badge-wrap img {-webkit-filter: grayscale(85%); filter: grayscale(85%); }
.parent-children-badge .parent-children-badge-wraper .icon-badge-wrap img {width: 100%; height: 100%; object-fit: contain; }
.parent-children-badge .parent-children-badge-wraper .icon-badge-wrap {width: 100%; height: 80px; overflow: hidden; }

/*-------parents modal--------*/
.parent-add-children-notice-modal .modal-dialog,
.parent-add-children-form-modal .modal-dialog,
.parent-add-children-sucess-modal .modal-dialog,
.parent-add-children-code-modal .modal-dialog {max-width: 900px;}
.parent-add-children-notice-modal .modal-header,
.parent-add-children-form-modal .modal-header,
.parent-add-children-sucess-modal .modal-header,
.parent-add-children-code-modal .modal-header {border: none; }
.parent-add-children-notice-modal .modal-content,
.parent-add-children-form-modal .modal-content,
.parent-add-children-sucess-modal .modal-content,
.parent-add-children-code-modal .modal-content {border: none;border-radius: 20px;}

.parent-add-children-notice-modal .children-notice {text-align: center; padding: 50px; }
.parent-add-children-notice-modal .children-notice h2 {font-size: 50px; }
.parent-add-children-notice-modal .children-notice ul li {list-style: none; display: inline-block; margin: 0 10px; }
.parent-add-children-notice-modal .children-notice ul {margin-top: 50px; }

.parent-add-children-form-modal .children-form-add {padding: 50px; }
.parent-add-children-form-modal .children-form-add h2 {font-size: 35px; margin-bottom: 30px; }
.parent-add-children-form-modal .children-form-add input.form-control {border-radius: 50px;height: 60px; }
.parent-add-children-form-modal .children-form-add button.btn {margin: 0 auto; display: block; margin-top: 30px; }

.parent-add-children-sucess-modal .children-sucess-add .tick-img {width: 110px; height: 110px; margin-bottom: 50px; margin: 0 auto; margin-bottom: 50px; }
.parent-add-children-sucess-modal .children-sucess-add {padding: 50px; text-align: center; }

.parent-add-children-code-modal .children-valide-code {padding: 50px; }
.parent-add-children-code-modal .children-valide-code input.form-control {height: 60px; border-radius: 60px; }
.parent-add-children-code-modal .children-valide-code .valid-code-box p {margin: 0; color: #959595; }
.parent-add-children-code-modal .children-valide-code .valid-code-box {display: flex; align-items: center;justify-content: space-between;flex-wrap: wrap; }
.parent-add-children-code-modal .children-valide-code .valid-code-box input.form-control {width: 250px; border: 1px solid #000; }
.parent-add-children-code-modal .children-valide-code button.btn {margin: 0 auto; display: block; margin-top: 40px; }



/*------parent search user------*/
.dashbord-parent-children .parent-search-area {padding: 50px 0; }
.parent-search-area select.form-control {border-radius: 30px; background-color: #eafaff; border: none; color: #000; font-weight: 700; }
.parent-search-area select.form-control {background-image: url(../images/cicl-arrow.png);}
.parent-search-area input[type="text"] {box-shadow: 0 3px 10px #00000029;border: none; border-radius: 50px; padding-left: 60px;background-image: url(../images/srch-icon.png);background-size: 20px;background-position: center left 19px;background-repeat: no-repeat; }
.parent-search-area-wrap {border-bottom: 1px solid #00000047;}
.parent-search-area .form-group {margin: 0; }
.parent-teacher-srch-reslt h2 {margin: 0; background-color: #fff; font-size: 22px; padding: 20px; }
.parent-teacher-srch-reslt {margin-top: 50px; }

.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table th {border: none; background-color: #e5f5fa; border-right: 2px solid #f8f8f8; padding: 14px !important; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table .user-img {width: 60px; height: 60px; overflow: hidden; border-radius: 60px; box-shadow: 0 5px 10px #00000052; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table ul.list-show li {list-style: none;margin-bottom: 5px; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table ul.list-show li span {background-color: #edeae1; padding: 5px 10px; display: -webkit-inline-box; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table ul.rating-box li {list-style: none; display: inline-block; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table ul.rating-box li svg {color: #feaa00; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table ul.achiv-box li {list-style: none; display: inline-block; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table ul.achiv-box li .achive-img {width: 63px; margin-right: 10px; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table .binacular {text-align: center; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table td {vertical-align: middle;background-color: #fff; border-right: 2px solid #f8f8f8; border-bottom: 2px solid #f8f8f8; padding: 18px !important; }
.parent-teacher-srch-reslt .parent-teacher-srch-reslt-wrap .loder-btn {margin-top: 30px; }

/*------parent report card view------*/
.parent-report-card-view .table thead th {border: none;}
.parent-report-card-view .table td, .parent-report-card-view .table th {border-top: none;}
.parent-report-card-view ul.table-season li span {color: #ff4d4d; }
.parent-report-card-view ul.table-season {text-align: center; }
.parent-report-card-view ul.table-season li:last-child {border: none; }
.parent-report-card-view ul.table-season li {color: #000;list-style: none; display: inline-block; border-right: 1px solid #ff4d4d; padding: 0 10px; font-size: 18px; }
.parent-report-card-view tbody td h2 {margin: 0; font-size: 22px; }
.parent-report-card-view tbody td h2 span{color: #ff4d4d; }
.parent-report-card-view td.vew-head {background-color: #ffeded; padding: 20px; }
.parent-report-card-view tr th {color: #898989; font-weight: 300; font-size: 16px; }
.parent-report-card-view .table td {border-right: 2px solid #fffafa; border-bottom: 2px solid #f8f8f8; }
.parent-report-card-view .table tr .vew-head-two{background-color: #f2f2f2;padding: 15px;}
.parent-report-card-view .table tr .vew-head-two h3{color: #2e00db;font-size: 18px;margin: 0;}
.parent-report-card-view .report-graph-view .graph-img img {width: 100%; height: 100%; }
.parent-report-card-view .report-graph-view .graph-img {width: 100%; height: 160px; overflow: hidden; }

/*--------student calender----------*/
.dashbord-common .dashbord-left-menu-student .dashbord-left-menu .dashbord-menu-list ul li.active, 
.dashbord-common .dashbord-left-menu-student .dashbord-left-menu .dashbord-menu-list ul li:hover {background-image: url('../images/blue-bg-img.png');width: 100%;height: 100%;background-size: contain;}
.dashbord-common .dashbors-right-content-student .dashbord-right-top-head {background-color: #33cfff;}
.dashbord-left-menu-student .dashbord-left-menu-wraper {background-color: #33cfff;}
.dashbord-common .dashbord-left-menu-student .dashbord-left-menu .dashbord-menu-list ul li a span.number {margin: 0 !important; float: right; background-color: #ff4d4d; color: #fff; width: 25px; height: 25px; display: flex; justify-content: center; align-items: center; font-size: 14px; border-radius: 3px; }

/*--------student independent practice listing----------*/
.student-independnt-practic-sec {margin-top: 25px;margin-bottom: 50px; } 
.student-independnt-practic-sec h2 {font-size: 22px; margin-bottom: 20px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box .roted-box h3 {font-size: 16px; text-transform: uppercase; letter-spacing: 2px; transform: rotate(-90deg); margin-top: 93px; margin-bottom: 0; position: absolute; top: 23px; width: 100%; white-space: nowrap; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box .roted-box {left: 0;position: absolute; top: 0; height: 100%; background-color: #fdecca; width: 60px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box {margin-top: 30px;background-color: #fff; position: relative; padding: 15px 15px 15px 80px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.top-box {display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 15px; border-bottom: 1px solid #e7e6e3; padding-bottom: 15px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.top-box li {background-color: #f5f5f5;list-style: none; padding: 5px 48px; border-radius: 22px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.top-box li:last-child{background-color: #fff}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.dnld-sec li {list-style: none; display: inline-block; border-right: 1px solid #000; padding: 0 15px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.dnld-sec li:first-child{padding-left: 0;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.dnld-sec li:last-child{padding-right: 0;border: none;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.top-box li span {font-weight: bold; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box {text-align: right; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box li {list-style: none; display: inline-block; height: 50px; width: 50px; text-align: center; border-radius: 50px; line-height: 50px; margin: 0 12px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box li svg{color: #fff;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box li.blue-box{background-color: #3ba0ce;border: 2px solid #fff;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box li.yellow-box{background-color: #ffaa00;border: 2px solid #fff;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box li.white-box{background-color: #fff;border: 2px solid #3ba0ce;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.indepnd-action-box li.white-box svg{color: #3ba0ce;}
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.top-box li:last-child{letter-spacing: 2px;}
.student-independnt-practic-sec .lod-more-btn {margin-top: 30px; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.star-rating li {border: none ; padding: 0 1px ; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.star-rating li svg {color: #fa0; }
.student-independnt-practic-sec .student-independnt-practic-sngl-box ul.dnld-sec li span {margin-right: 3px; }

/*--------student single assessment details---------*/
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li {display: inline-block; list-style: none; }
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li ul {background-color: #00a0d1; padding: 5px 20px; border-radius: 50px; display: flex; align-items: center; }
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li ul .user-name {display: flex; align-items: center; font-size: 16px; color: #fff; }
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li ul .user-name .user-iocn {width: 50px; height: 50px; overflow: hidden; border-radius: 50px; }
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li .achiv-logo {width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; }
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li ul li {border-right: 1px solid #fff; padding: 0 20px; }
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li ul li:first-child{padding-left: 0;}
.student-assessment-listing-page .student-assessment-listing-head ul.left-list li ul li:last-child{padding-right: 0;border: none;}
.student-assessment-listing-page .student-assessment-listing-head {padding: 15px 0;margin-bottom: 30px;}
.student-assessment-listing-page .student-assessment-listing-head ul.right-list {text-align: right; }
.student-assessment-listing-page .student-assessment-listing-head ul.right-list li {list-style: none; display: inline-block; margin-left: 20px; border-left: 1px solid #0000006b; padding-left: 20px; }
.student-assessment-listing-page .student-assessment-listing-head ul.right-list li span {color: #fff; width: 50px; height: 50px; background-color: #00a0d1; display: inherit; border-radius: 50px; text-align: center; line-height: 48px; margin-left: 5px; }
.student-assessment-listing-page .student-assessment-listing-head ul.right-list li:first-child {border: none;padding-left: 0;margin-left: 0;}
.student-assessment-listing-page .student-assessment-listing-body ul.top-sec li {list-style: none; display: inline-block; background-color: #edece8; padding: 5px 35px; border-radius: 30px; margin-right: 20px; }
.student-assessment-listing-page .student-assessment-listing-body ul.top-sec li:last-child{margin-right: 0;}
.student-assessment-listing-page .student-assessment-listing-body ul.top-sec {margin-bottom: 20px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-sngl-box {background-color: #fff; padding: 25px 0; margin-bottom: 30px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-sngl-box-head {border-bottom: 1px solid #00000047; margin-bottom: 20px; padding: 0 20px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-sngl-box-head h2 {font-size: 22px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-sngl-box-body {padding: 0 20px;}
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-sngl-box-body ul.assigment-dwnload li {list-style: none;}
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-sngl-box-body ul.assigment-dwnload {display: flex; justify-content: space-between; align-items: center; }
.student-assessment-listing-page .student-assessment-listing-body ul.assigment-dwnload li span img {width: 100%; height: 100%; object-fit: contain; }
.student-assessment-listing-page .student-assessment-listing-body ul.assigment-dwnload li span {width: 50px; height: 50px; display: inline-table; box-shadow: 0 0 10px #00000038; border-radius: 50px; overflow: hidden; margin-right: 10px; padding: 5px; }
.student-assessment-listing-page .student-assessment-listing-body ul.assigment-dwnload li a.download-sec {width: 50px; height: 50px; background-color: #00a0d1; display: inherit; color: #fff; text-align: center; border-radius: 50px; line-height: 48px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-total-sec ul.show-sec {text-align: right; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-total-sec ul.show-sec li {font-size: 16px;list-style: none; display: inline-block; margin-right: 10px; border-right: 1px solid #000; padding-right: 10px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-total-sec ul.show-sec li:last-child {margin-right: 0px; border-right: none; padding-right: 0px; }
.student-assessment-listing-page .student-assessment-listing-body .student-assessment-total-sec ul.show-sec li span{margin-right: 5px;}

/*--------student teacher for student---------*/
.student-teacher-list-box .student-teacher-list-box-sngl {display: flex; flex-wrap: wrap;align-items: center;border: 1px solid #e3e3e3;padding: 20px;margin-bottom: 15px;}
.student-teacher-list-box .student-teacher-list-box-sngl .teacher-img {margin-right: 10px;width: 50px; height: 50px; overflow: hidden; border-radius: 50px; box-shadow: 0 0 10px #00000038; }
.student-teacher-list-box .student-teacher-list-box-sngl .teacher-img img{width: 100%;height: 100%;object-fit: cover;}
.student-teacher-list-box .student-teacher-list-box-sngl .teacher-name h5 {margin: 0; font-size: 18px; font-family: 'EuclidCircularA-Regular'; }
.student-teacher-list-box .student-teacher-list-box-sngl .teacher-name {width: calc(100% - 70px); }
.student-teacher-list-box {background-color: #fff; padding: 15px; margin: 26px 0; }
.student-teacher-list-box h3 {font-size: 22px; }

/*----------teacher assessment listing----------*/
.dashbord-common .dashbord-left-menu-teacher .dashbord-left-menu .dashbord-menu-list ul li.active, 
.dashbord-common .dashbord-left-menu-teacher .dashbord-left-menu .dashbord-menu-list ul li:hover {background-image: url(../images/red-bg-img.png);
    width: 100%;
    height: 100%;
    background-size: contain;}
.dashbord-common .dashbors-right-content-teacher .dashbord-right-top-head {background-color: #ffaa00;}
.dashbord-left-menu-teacher .dashbord-left-menu-wraper {background-color: #ffaa00;}
.dashbord-common .dashbord-left-menu-teacher .dashbord-left-menu .dashbord-menu-list ul li span.number {margin: 0; float: right; width: 30px; height: 30px; background-color: #f64a4a; display: flex; justify-content: center; align-items: center; color: #fff; font-size: 13px; border-radius: 4px; }
.dashbors-right-content-teacher .parent-search-area select.form-control {background-color: #feebe6;}
.dashbord-left-menu-teacher .dashbord-last-btn a.btn.create-btn {background-color: transparent; color: #000 !important; padding: 0 !important; }
.dashbord-left-menu-teacher .dashbord-last-btn a.btn.create-btn span {background-color: #feaa00; color: #fff; width: 50px; height: 50px; display: inline-block; border-radius: 50px; text-align: center; line-height: 48px; margin-right: 10px; }

/*----------teacher edit profile----------*/
.teacher-edit-profile .teacher-edit-profile-wraper {box-shadow: 0 0 7px #0000001f;position: relative; background-color: #fff; padding: 55px; margin-top: 115px; }
.teacher-edit-profile {padding: 30px 0; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-img {padding: 10px;position: absolute; top: -125px; width: 180px; height: 180px; overflow: hidden; left: 0; right: 0; margin: 0 auto; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-img-only {width: 150px; height: 150px; overflow: hidden; background-color: #fff; border-radius: 150px; box-shadow: 0 0 10px #00000047; margin: 0 auto; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-img-only img {height: 100%; width: 100%; object-fit: cover; }
.teacher-edit-profile .teacher-edit-profile-wraper .edit-pic input[type="file"] {position: absolute; width: 100%; height: 50px; opacity: 0; }
.teacher-edit-profile .teacher-edit-profile-wraper .edit-pic {border: 2px solid #fff; bottom: 25px; right: 0; position: absolute; width: 50px; height: 50px; background-color: #fa0; border-radius: 30px; display: flex; justify-content: center; align-items: center; color: #fff; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-edit-form label {color: #5b5b5b; font-size: 17px; padding: 5px 20px; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-edit-form .form-control {height: 60px !important; border-radius: 60px; color: #414141; font-size: 18px; font-weight: 800; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-edit-form select {background-image: url(../images/downarrow2.png); background-repeat: no-repeat; background-position: 96% center; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-edit-form textarea.form-control {height: 150px !important; border-radius: 20px !important; resize: none; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-edit-form .form-group {margin-bottom: 30px; }
.teacher-edit-profile .teacher-edit-profile-wraper .teacher-edit-form .submit-sec {text-align: right; }
.dashbors-right-content-teacher .student-assessment-listing-page .student-assessment-listing-body ul.assigment-dwnload li a.download-sec {background-color: #ffaa00;}

/*----------teacher-my profile-------*/
.dashbors-right-content-teacher .dashbord-parent-children ul.children-btns {display: flex; align-items: center; justify-content: flex-end; }
.dashbors-right-content-teacher .dashbord-parent-children ul.children-btns li {margin-left: 25px; }
.dashbors-right-content-teacher .dashbord-parent-children ul.children-btns li span.flow-img {width: 35px; display: inline-block; margin-right: 10px; }
.dashbors-right-content-teacher .dashbord-parent-children .my-children-text-box ul.ext-rating {text-align: right;padding-right: 20px; }
.dashbors-right-content-teacher .dashbord-parent-children .my-children-text-box ul.ext-rating li {list-style: none; display: inline-block; }
.dashbors-right-content-teacher .dashbord-parent-children .my-children-text-box ul.ext-rating li svg {color: #feaa00;font-size: 15px;}

/*----------teacher notification-------*/
.student-independnt-practic-sec .student-independnt-practic-sngl-box.teacher-notification-box {padding: 0 0;}
.student-independnt-practic-sngl-box.teacher-notification-box h4 {font-size: 18px; margin: 0; }
.student-independnt-practic-sngl-box.teacher-notification-box h6 {margin: 0; font-size: 16px; text-align: right; }
.teacher-notification-box .notification-head {padding: 15px; border-bottom: 1px solid #00000026; }
.teacher-notification-box .notification-body {padding: 15px; }
.teacher-notification-box .notification-body .box-icon {text-align: right; }
.teacher-notification-box .notification-body .box-icon a {width: 40px; height: 40px; border: 1px solid; display: inline-block; border-radius: 40px; text-align: center; line-height: 38px; }
.teacher-notification-wraper .notification-but {margin: 15px 0;}
.teacher-notification-wraper .notification-but a.btn.red-text-btn span {margin-left: 11px;}

/*----------teacher create leasson complete-------*/
.lession-complt-frm-page .nav-tabs {border-bottom: none;}
.lession-complt-frm-page .nav-tabs .nav-item {margin-bottom: 0;}
.lession-complt-frm-page .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {background-color: #fff0;border: none;}
.lession-complt-frm-page ul.nav.nav-tabs li a.nav-link.active {color: #fa0;}
.lession-complt-frm-page ul.nav.nav-tabs li a {color: #0000008c; padding: 0; border: none;}
.lession-complt-frm-page ul.nav.nav-tabs li {margin-right: 45px;}
.lession-complt-frm-page ul.nav.nav-tabs li:last-child{margin-right: 0;}
.lession-complt-frm-page ul.nav.nav-tabs {padding: 35px 0; border-bottom: 1px solid #00000052; }
.lession-complt-frm-page .lession-complt-frm-body {padding: 30px 0; }
.lession-complt-frm-page .lession-complt-frm-top label span {color: #f64a4a; }
.lession-complt-frm-page .lession-complt-frm-top select.form-control {color: #898989;border: none; background-image: url('../images/yellow-aroow.png');background-position: 99% center; background-size: 25px; }
.lession-complt-frm-page .lession-complt-frm-top {margin-bottom: 15px; }
.lession-complt-frm-page .specific-exp h3 span {color: #f64a4a; }
.lession-complt-frm-page .specific-exp h3 {font-size: 20px; }
.lession-complt-frm-page .box-text p {margin: 0; color: #969696; }
.lession-complt-frm-page .box-text {background-color: #fff; padding: 20px; }
.lession-complt-frm-page .specific-exp {margin-bottom: 30px; }
.lession-complt-frm-page  .single-box-file-box ul {align-items: center;text-align: center;display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.lession-complt-frm-page  .single-box-file-box ul li {-webkit-box-flex: 0; -ms-flex: 0 0 16%; flex: 0 0 16%; max-width: 16%;list-style: none;padding: 15px; }
.lession-complt-frm-page  .single-box-file-box ul li .box-icon img {width: 100%; height: 100%; object-fit: contain; }
.lession-complt-frm-page  .single-box-file-box ul li .box-icon {width: 125px; height: 125px; overflow: hidden; margin: 0 auto; margin-bottom: 15px; }
.lession-complt-frm-page  .single-box-file-box ul li .icon-text h6 {font-size: 16px;    margin: 0; }
.lession-complt-frm-page .single-box-file-area.select-box {border-color: #2684fc;}
.lession-complt-frm-page .single-box-file-area {border: 2px solid #fff;background-color: #fff; box-shadow: 0 0 10px #0000001c; padding: 20px; }
.lession-complt-frm-page .single-box-file-wraper h3 span {color: #f64a4a;font-size: 13px; }
.lession-complt-frm-page .single-box-file-wraper h3 {font-size: 20px; margin-bottom: 15px; }
.lession-complt-frm-page .single-box-file-wraper-head {padding-right: 100px; }
.lession-complt-frm-page .single-box-file-wraper-head p {color: #969696; }
.lession-complt-frm-page ul li:hover .single-box-file-area {border: 2px solid #2684fc;box-shadow: none;}
.lession-complt-frm-page .single-box-file-wraper {margin-bottom: 30px; }
.lession-complt-frm-page .create-lsn-btn ul li {list-style: none; display: inline-block; width: 300px; margin-right: 25px; }
.lession-complt-frm-page .create-lsn-btn ul li:last-child{margin-right: 0;}
.lession-complt-frm-page .create-lsn-btn ul li a.btn {width: 100%; }
.lession-complt-frm-page .lession-complt-frm-top h3 {color: #fa0; font-size: 20px; margin-bottom: 15px; }

/*--------Teacher Calender---------*/
.teacher-calender-page .teacher-calender-lft .calender-ability h2 {font-size: 22px;margin: 0;}
.teacher-calender-page .teacher-calender-lft .calender-ability ul {padding-right: 65px;display: flex; flex-wrap: wrap; justify-content: flex-end; align-items: center; }
.teacher-calender-page .teacher-calender-lft .calender-ability ul li {list-style: none; }
.teacher-calender-page .teacher-calender-lft ul li .form-group {margin-bottom: 1px;}
.teacher-calender-page .teacher-calender-lft ul li select {width: 257px !important; margin: 0 !important; border-radius: 0; margin-right: 12px !important; border: none !important; background-image: url('../images/yellow-aroow.png');background-size: 25px; }
.teacher-calender-page .teacher-calender-lft .calender-ability {padding: 30px 0; }
.teacher-calender-page .calender-date-month .month-box ul::-webkit-scrollbar {display: none;}
.teacher-calender-page .calender-date-month .month-box ul {-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}
.teacher-calender-page .calender-date-month .month-box ul li a {color: #767676;font-size: 20px;padding: 0 65px;}
.teacher-calender-page .calender-date-month .month-box ul li {list-style: none;}
.teacher-calender-page .calender-date-month .month-box ul,
.teacher-calender-page .calender-date-month .date-box ul {display: flex;overflow: scroll;}
.teacher-calender-page .calender-date-month .date-box ul::-webkit-scrollbar {display: none;}
.teacher-calender-page .calender-date-month .date-box ul {-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}
.teacher-calender-page .calender-date-month .date-box ul li a {border-radius: 60px; width: 60px; height: 60px; display: flex; justify-content: center; align-items: center; box-shadow: 0 0 10px #00000026; color: #000; font-size: 20px; }
.teacher-calender-page .calender-date-month .date-box ul li {border-bottom: 1px solid #0000001a;list-style: none; padding: 30px 16px; }
.teacher-calender-page .calender-date-month .date-box ul li.active a {background-color: #000; color: #fff; }
.teacher-calender-page .calender-date-month .date-box ul li.active {border-bottom: 1px solid #000; }
.teacher-calender-page .calender-date-month .month-box ul li.active a {color: #009cde;}
.teacher-calender-page .teacher-sudel-booking h2 {font-size: 22px; margin-bottom: 30px; }
.teacher-calender-page .teacher-sudel-booking-box {display: flex; align-items: center; margin-bottom: 15px;}
.teacher-calender-page .teacher-sudel-booking-time {width: 80px; }
.teacher-calender-page .teacher-sudel-booking-details {width: calc(100% - 80px); }
.teacher-calender-page .teacher-sudel-booking-details ul li {width: 50px; height: 50px; overflow: hidden; border-radius: 50px; box-shadow: 0 0 10px #0000003d; display: flex; justify-content: center; align-items: center; margin-left: -7px; background-color: #fff; }
.teacher-calender-page .teacher-sudel-booking-details ul {display: flex; justify-content: flex-end; align-items: center; }
.teacher-calender-page .teacher-sudel-booking-details ul li {list-style: none; }
.teacher-calender-page .teacher-sudel-booking-details ul li img {width: 100%; height: 100%; object-fit: contain; }
.teacher-calender-page .teacher-sudel-booking-details ul li p {margin: 0; }
.teacher-calender-page .teacher-sudel-booking-details ul li:last-child {border-radius: 0; box-shadow: none; background: no-repeat; margin-left: 0; }
.teacher-calender-page .teacher-sudel-sub {display: flex; align-items: center; }
.teacher-calender-page .teacher-sudel-icon {margin-right: 10px;width: 70px; height: 70px; display: flex; justify-content: center; align-items: center; background-color: #fff; border-radius: 8px; }
.teacher-calender-page .teacher-sudel-icon-text h4 {font-size: 18px; font-weight: 500; margin: 0; margin-bottom: 6px; }
.teacher-calender-page .teacher-sudel-icon-text p {font-size: 16px; margin: 0; }
.teacher-calender-page .teacher-sudel-icon-text {width: calc(100% - 80px); }
.teacher-calender-page .teacher-sudel-booking-time h6 {margin: 0; color: #767676; font-size: 15px; }
.teacher-calender-page .teacher-sudel-booking-details {position: relative; border-radius: 5px; padding: 20px; border-radius: 10px; }
.teacher-calender-page .teacher-calender-lft {position: relative; z-index: 9; }
.teacher-calender-page .teacher-sudel-booking-details::before {top: 50%;content: ""; position: absolute; width: 100%; height: 2px; border: 1px dashed #00000042; left: -15px; z-index: -1; }
.teacher-calender-page .teacher-sudel-booking {padding: 50px 0; border-bottom: 1px solid #cfcece; }
.teacher-calender-page .calender-rightside-menu #menu__toggle {opacity: 0; }
.teacher-calender-page .calender-rightside-menu #menu__toggle:checked ~ .menu__btn > span {transform: rotate(45deg); }
.teacher-calender-page .calender-rightside-menu #menu__toggle:checked ~ .menu__btn > span::before {top: 0; transform: rotate(0); }
.teacher-calender-page .calender-rightside-menu #menu__toggle:checked ~ .menu__btn > span::after {top: 0; transform: rotate(90deg); }
.teacher-calender-page .calender-rightside-menu #menu__toggle:checked ~ .menu__box {visibility: visible; right: 0; }
.teacher-calender-page .calender-rightside-menu .menu__btn {display: flex; align-items: center; position: absolute; top: 35px; left: 20px; width: 26px; height: 26px; cursor: pointer; z-index: 99; display: block; }
.teacher-calender-page .calender-rightside-menu .menu__btn > span,
.teacher-calender-page .calender-rightside-menu .menu__btn > span::before,
.teacher-calender-page .calender-rightside-menu .menu__btn > span::after {display: block; position: absolute; width: 100%; height: 2px; background-color: #616161; transition-duration: .25s; }
.teacher-calender-page .calender-rightside-menu .menu__btn > span::before {content: ''; top: -8px; }
.teacher-calender-page .calender-rightside-menu .menu__btn > span::after {content: ''; top: 8px; }
.teacher-calender-page .calender-rightside-menu .menu__box {display: block !important; position: fixed; visibility: hidden; bottom: 0; right: -100%; width: 300px; height: calc(100% - 91px); margin: 0; padding: 80px 0; list-style: none; background-color: #f8f8f8; transition-duration: .25s; z-index: 9; }
.teacher-calender-page .calender-rightside-menu .hamburger-menu {position: absolute; top: 20px; right: 48px; }
.teacher-calender-page .calender-rightside-menu .menu__item {display: block; padding: 12px 24px; color: #333; font-family: 'Roboto', sans-serif; font-size: 20px; font-weight: 600; text-decoration: none; transition-duration: .25s; }
.teacher-calender-page .calender-rightside-menu .menu__item:hover {background-color: #CFD8DC;}
.teacher-calender-page .teacher-only-dtls-wraper {position: relative; }
.teacher-calender-page .teacher-only-dtls .teacher-img img {width: 100%; height: 100%; object-fit: cover; }
.teacher-calender-page .teacher-only-dtls .teacher-img {width: 200px; height: 200px; overflow: hidden; margin: 0 auto; text-align: center; border-radius: 200px; box-shadow: 0 0 10px #00000036; }
.teacher-calender-page .teacher-only-dtls .teacher-awrd {position: absolute; bottom: 0; right: 42px; width: 73px; }
.teacher-calender-page .teacher-only-dtls .teacher-reting h3 {text-align: center; margin-top: 18px; font-size: 19px; padding: 0; margin-bottom: 0; }
.teacher-calender-page .teacher-only-dtls .teacher-reting ul {justify-content: center !important; padding: 0 !important; margin-top: 10px; }
.teacher-calender-page .teacher-only-dtls .teacher-reting ul li svg {color: #ffcd00;}
.teacher-calender-page .teacher-only-dtls .teacher-reting ul li span {width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border: 1px solid #d5d5d5; border-radius: 50px; font-size: 16px; margin-left: 10px; }
.teacher-calender-page .teacher-only-dtls .teacher-indv-dtls {border-bottom: 1px solid #0000002b; padding-bottom: 20px; margin-bottom: 20px; }
.dashbord-parent-calender .teacher-calender-page .parent-calender-history .parent-calender-history-wraper {display: block;flex-wrap: wrap;}
.dashbord-parent-calender .teacher-calender-page .parent-calender-history .parent-calender-history-sngl {width: 100%;margin-bottom: 15px;border-bottom: 1px solid #00000021;}
.teacher-calender-page .teacher-indv-dtls .parent-calender-history-dtls ul{display: block;}
.teacher-calender-page .teacher-indv-dtls .parent-calender-history.teacher-histry-dtls h2 {padding: 15px; padding-top: 0; }
.dashbord-parent-calender .teacher-calender-page .parent-calender-history {padding: 0px 0;}
.teacher-calender-page .teacher-only-dtls {border-bottom: 1px solid #0000001f; padding-bottom: 15px; margin-bottom: 15px; }
.teacher-calender-page .teacher-indv-dtls {overflow: scroll !important; height: 100%; }
.teacher-calender-page .teacher-indv-dtls::-webkit-scrollbar {display: none;}
.teacher-calender-page .teacher-indv-dtls {-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}

/*---------teacher chat box-------------*/
.chatbox-page {padding: 30px 15px; }
.chatbox-page .chat-person-side input.form-control {color: #fff;background-color: #363d45; border: none; border-radius: 30px; padding-left: 40px; background-image: url('../images/search.png'); background-repeat: no-repeat; background-position: center left 15px; }
.chatbox-page .chat-person-side .form-group {margin: 0; }
.chatbox-page .chat-person-side .box-heading {background-color: #292f37;padding: 15px 15px; border-bottom: 1px solid #42484f; position: absolute; top: 0; width: 100%; left: 0; right: 0; }
.chatbox-page .chat-person-side {height: 100vh;}
.chatbox-page .chat-person-body ul li .single-chet-person {display: flex; align-items: center; justify-content: space-between; }
.chatbox-page .chat-person-body .chat-box-other ul li {list-style: none;border: none;padding: 0px 0;margin-bottom: 0px; }
.chatbox-page .chat-box-other {width: 60px; }
.chatbox-page .chat-per-dtls {width: calc(100% - 60px); }
.chatbox-page .chat-per-dtls {display: flex; align-items: center; }
.chatbox-page .chat-prsn-img {width: 50px; height: 50px; overflow: hidden; margin-right: 10px; border-radius: 50px; }
.chatbox-page .chat-pesn-nm {width: calc(100% - 60px); }
.chatbox-page .chat-pesn-nm h3 {font-family: 'EuclidCircularA-Regular';font-size: 16px; margin: 0; color: #fff; }
.chatbox-page .chat-pesn-nm h3 span {display: block; color: #939393; font-size: 14px; }
.chatbox-page .chat-prsn-img img {width: 100%; height: 100%; object-fit: cover; }
.chatbox-page .chat-box-other ul li {text-align: right; font-size: 12px; color: #9f9e9e; }
.chatbox-page .chat-box-other ul li span {color: #fff; }
.chatbox-page .chat-person-body ul li {list-style: none; border-bottom: 1px solid #42484f;padding: 10px 0; margin-bottom: 10px; }
.chatbox-page .chat-person-body {height: 100vh; overflow: scroll; padding-top: 90px; }
.chatbox-page .chat-person-body::-webkit-scrollbar {display: none;}
.chatbox-page .chat-person-body {-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}
.chatbox-page .chat-box-body .chat-box-type-chat textarea.form-control {padding-right: 72px;height: 80px; resize: none; border: none; border-radius: 0; }
.chatbox-page .chat-box-body .chat-box-type-chat form {position: relative; }
.chatbox-page .chat-box-body .chat-box-type-chat button.btn {position: absolute; top: 10px; right: 10px; width: 50px; height: 50px; padding: 0; background-color: #626e7b;background-image: url('../images/plane.png');background-repeat: no-repeat;background-position: center center; }
.chatbox-page .chat-box-body {position: relative;height: 100vh; }
.chatbox-page .chat-box-body .chat-box-type-chat {position: absolute; width: 100%; bottom: 0; z-index: 9;}
.chatbox-page .chat-box-body .chating-content-other-wraper {display: flex; margin-bottom: 15px;}
.chatbox-page .chat-box-body .chating-contentimg-box {width: 65px; }
.chatbox-page .chat-box-body .chating-content-text {width: calc(100% - 65px); margin-right: 50px;}
.chatbox-page .chat-box-body .chat-per-img {width: 30px; height: 30px; overflow: hidden; border-radius: 30px; margin-bottom: 10px; }
.chatbox-page .chat-box-body .chat-per-img img {width: 100%; height: 100%; object-fit: cover; }
.chatbox-page .chat-box-body .time-chat p {margin: 0; color: #000000; font-size: 12px; }
.chatbox-page .chat-box-body .chating-content-text p {margin: 0; background-color: #fff; display: inline-table; padding: 15px; position: relative; border-radius: 8px; }
.chatbox-page .chat-box-body .chating-content-text p::before {content: ""; position: absolute; background-color: #fff; width: 15px; height: 15px; left: -6px; top: 10px; transform: rotate(45deg ); }
.chatbox-page .chat-box-body .chating-content-other-wraper.chating-content-you {text-align: right; }
.chatbox-page .chat-box-body .chating-content-you .chat-per-img {margin-left: auto; }
.chatbox-page .chat-box-body .chating-content-you .chating-content-text p::before {background-color: #0084ff;left: unset;right: -6px;}
.chatbox-page .chat-box-body .chating-content-you .chating-content-text p {background-color: #0084ff;color: #fff;}
.chatbox-page .chat-box-body .chating-content-you .chating-content-text {width: calc(100% - 65px); margin-right: 00px;margin-left: 50px;}
.chatbox-page .chat-box-body .cating-box-header p {margin: 0; }
.chatbox-page .chat-box-body .cating-box-header {position: absolute; top: 0; z-index: 9; width: 100%; background-color: #eceef1; border-bottom: 1px solid #0000002b; padding: 30px 0; }
.chatbox-page .chat-box-body .chating-content {height: calc(100vh - 100px); padding-top: 100px; overflow: scroll; }
.chatbox-page .chat-box-body .chating-content::-webkit-scrollbar {display: none;}
.chatbox-page .chat-box-body .chating-content {-ms-overflow-style: none;  /* IE and Edge */scrollbar-width: none;  /* Firefox */}
.chatbox-page .chating-per-profile-dtls .chating-per-profile-dtls-header p {margin: 0; }
.chatbox-page .chating-per-profile-dtls .chating-per-profile-dtls-header {padding: 30px 0; border-bottom: 1px solid #ddd; }
.chatbox-page .chating-per-profile-dtls .chating-per-profile-img {width: 150px; height: 150px; overflow: hidden; margin: 0 auto; margin-bottom: 10px; border-radius: 150px; box-shadow: 0 0 10px #e5dfdf; }
.chatbox-page .chating-per-profile-dtls .chating-profile-nm {text-align: center; margin-top: 26px; }
.chatbox-page .chating-per-profile-dtls .chating-profile-nm h6 {margin: 0; color: #293037; font-size: 20px; }
.chatbox-page .chating-per-profile-dtls .chating-profile-nm p {margin: 0; font-size: 14px; color: #000000bf; margin-top: 3px; }
.chatbox-page .chating-per-profile-dtls .chating-user-dtls ul li {list-style: none; color: #293037; font-size: 16px; border-top: 1px solid #0000002b; padding: 10px; }
.chatbox-page .chating-per-profile-dtls .chating-user-dtls ul li span {float: right; }
.chatbox-page .chating-per-profile-dtls .chating-user-dtls {margin-top: 20px; }

/*-----teacher search result-----*/
.parent-teacher-srch-reslt.only-teacher-srch-reslt .parent-teacher-srch-reslt-wrap table th {background-color: #ffecc6;}
.teacher-edit-profile .submit-sec {text-align: right; padding: 30px 0; }
.dashbors-right-content-student .dashbord-parent-children .my-children-img-edit {background-color: #00a0d1;}
.dashbors-right-content-student .parent-search-area h2 {font-size: 22px;}
.dashbors-right-content-teacher .only-teacher-srch-reslt .parent-teacher-srch-reslt-wrap a.btn.yellow-btn:hover {background-color: #00a0d1;}
.dashbors-right-content-teacher .seperator {width: 100%; height: 1px; background-color: #0000001f; margin-top: 50px; }


















/*Media Query css*/

@media only screen and ( min-width:1600px ) {
    .container { max-width: 1230px;}
}

@media only screen and ( max-width:1599px ) {

	

}
@media only screen and ( max-width: 1024px ) {

    .nav_btn { display: block; cursor: pointer;position: fixed;z-index: 99;left: 8px; }
    .nav_close { display: block; position: absolute; top: 20px; right: 30px; z-index: 999; font-size: 30px;}
    .main-menu { position: fixed; transform:translateX(-350px); left: 0; top: 0; bottom: 0; z-index: 999; max-width: -350px; box-shadow: 4px 0 27px rgba(0, 0, 0, 0.11); background-color: #000; margin:0; display:block; width: 100%;  transition: 250ms ease-in;}
    .main-menu ul li { width: 100%; }
    .main-menu ul li:not(:last-child) { margin-right: 0; }
    .main-menu ul li a { display: block; padding: 10px; }
    .dashbord-common .dashbord-common-wraper {display: block;}
    .dashbord-common .dashbors-right-content {width: 100%;}
    .dashbord-common .dashbord-right-top-head {width: 100%;}

}
@media only screen and ( max-width: 767px ) {



}
@media only screen and ( max-width: 550px ) {


}
@media only screen and ( max-width: 380px ) {


}

/*Media Query css*/




